body{
	margin: 0;
	text-align: center;
	font-family: Merriweather;
	color: #40514E;

}
h1{
	margin: 50px auto 0 auto;
	font-family: Lucida Grande;
	font-size: 5.3rem;
	color: #66BFBF;
}
h2{	
	font-family: Montserrat;
	font-size: 2.5rem;
	color: #66BFBF;
	padding-bottom: 10px;
}
h3{
	font-family: Montserrat;
	color: #11999E;
}
hr{
	border: dotted #EAF6F6 6px;
	border-bottom: none;
	width: 5%;
	margin: 100px auto;
}
a{
	color: #11999E;
}
a:hover{
	color: #EAF6F6;
}
p{
	line-height: 2;
}
.top-container{
	background-color: #EAF6F6;
	position: relative;
	padding-top: 100px;
}
.middle-container{
	padding: 100px 0;
}
.bottom-container{

	background-color: #66BFBF;
	padding: 50px;
}
.footer-link{
	font-family: Arial;
	color: #11999E;
	text-decoration: none;
	margin-left: 30px;



}
.footer-text{
	color: #EAF6F6;
	margin: 30px;
	font-size: 0.75rem;
}

.top-cloud{
	position: absolute;
	top: 40px;
	right: 300px;
}
.mypic{
	width: 20%;
	height: 20%;
	border-radius: 50%;
	margin-top: 3em;

}

.intro-text{
	width: 30%;
	margin: auto;
}

.bottom-cloud{
	position: absolute;
	left: 250px;
	bottom: 300px;
}

.skill-row{
	margin: 100px  auto;
	width: 50%;
	text-align: left;
	line-height: 2;

}
.webimg{
	width: 25%;
	float: left;
	margin-right: 30px;
}
.aiimg{
	width: 25%;
	float: right;
	margin-left: 30px;
}
.description-text{
	width: 30%;
	margin: auto;
}

.contact-me{
	margin: 70px 70px 0 70px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}