body{
	margin: 0;
	text-align: center;
	font-family: Merriweather;
	color: #40514E;

}
h1{
	margin: 50px auto 0 auto;
	font-family: Lucida Grande;
	font-size: 5.3rem;
	color: #be0032;
}
h2{	
	font-family: Montserrat;
	font-size: 2.5rem;
	color: #be0032;
	padding-bottom: 10px;
}
h3{
	font-family: Montserrat;
	color: #008080;
}
hr{
	border: dotted #EAF6F6 6px;
	border-bottom: none;
	width: 5%;
	margin: 100px auto;
}
a{
	color: #008080;
}
a:hover{
	color: #EAF6F6;
}
p{
	line-height: 2;
}
.top-container{
	background-color: #20b2aa;
	position: relative;
	padding-top: 100px;
}
.middle-container{
	padding: 100px 0;
}
.bottom-container{

	background-color: #be0032;
	padding: 50px;
}
.footer-link{

	color: #EAF6F6;
	text-decoration: none;
	margin-left: 30px;
}

.footer-link:hover{

	color: #008080;
	text-decoration: none;
	margin-left: 30px;
}

.footer-text{
	color: #EAF6F6;
	margin: 30px;
	font-size: 0.75rem;
}

.top-cloud{
	position: absolute;
	top: 40px;
	right: 300px;
}
.mypic{
	width: 20%;
	height: 20%;
	border-radius: 50%;
	margin-top: 3em;

}

.intro-text{
	width: 30%;
	margin: auto;
}

.bottom-cloud{
	position: absolute;
	left: 250px;
	bottom: 300px;
}

.skill-row{
	margin: 100px  auto;
	width: 50%;
	text-align: left;
	line-height: 2;

}
.webimg{
	width: 25%;
	float: left;
	margin-right: 30px;
}
.aiimg{
	width: 25%;
	float: right;
	margin-left: 30px;
}
.iphoneimg{
	width: 30%;
	float: right;
	margin-left: 30px;
}
.description-text{
	width: 30%;
	margin: auto;
}


.slide {
	position: relative;
	color: #fff;
	line-height: 150px;
	text-decoration: none;
	border-radius: 5em;
	padding: 15px 50px;
	font-weight: 100;

  background: -webkit-linear-gradient(right, #008080 50%, #be0032 50%);
  background: -moz-linear-gradient(right, #008080 50%, #be0032 50%);
  background: -o-linear-gradient(right, #008080 50%, #be0032 50%);
  background: linear-gradient(to left, #008080 50%, #be0032 50%);
	
	  background-size: 200% 100%;
	  background-position: left bottom;
	  transition: all 1s ease;
  }
  
  .slide:hover {
	  background-position: right bottom;
  }
  